@import "header";
@import "section";
@import "sections";
@import "music";

main {
    position: relative;
}

.hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#guidance {
    padding: 10px;
    color: white;
}